/* these are the main colors and header image
   replace them with anything you want! */
:root {
    --accent-color: #FF3183;
    --link-color: #e6a1a1;
    --bg-color: #1740bd;
    --bg-color2: #08031A;
    --text-color: #fceaff;
    --favorite-color: #1508c9;
    /* these are semi-transparent! 8-digit hex codes add alpha :) */
    --lighter-color: #ffffff4d;
	--darker-color: #13092DA0;
}
/* you can get hex codes from sites like this:
   https://palettes.shecodes.io/
   i just looked up "css color templates" to find that link! */

/* this applies to all the content */
* {
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* this is for when you select text on the page */
::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

body {
    background-color: var(--bg-color2);
    margin: 0;
	background-size: 65px;
}
/* i think having better line spacing helps text to be more readable, but you can remove it if you want */
p {line-height: 1.3em;}

header {
    background-color: var(--accent-color);
    background-size: 100%;
    background-position: center;
/* change the minimum height if you want it to take up more/less space */
    min-height: 200px;
}

/* this is your site title displayed at the top of the page */
header > h1 {
    margin: auto;
    max-width: 960px;
    padding: 50px;
/* you can change the text-align to center or right if you want it placed differently */
    text-align: left;
    color: var(--bg-color);
    text-shadow: var(--text-color) 3px 3px;
}

nav {
    background-color: var(--favorite-color);
    padding: 0.1em;
    font-weight: bold;
}

nav > ul {
    max-width: 950px;
    margin: auto;
    line-height: 3rem;
/* this stuff makes it wrap around on mobile */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
/* this line takes away the dot in front of the list items */
    list-style-type: none;
/* list items have default padding but we don't need it for these */
    padding-left: 0;
/* and this spaces out the buttons so they're not touching */
    justify-content: space-evenly;
}
nav li > a {
    background-color: var(--bg-color);
    box-shadow: var(--accent-color) 4px 4px;
    padding: .5em 1em;
/* this takes away the link underline */
    text-decoration: none;
}
nav li > a:hover {
    box-shadow: var(--text-color) 4px 4px;
}

a {
    color: var(--link-color);
}
a:visited {
    color: var(--text-color);
}
a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* you can change this to lots of things, i picked square cuz it's like a pixel */
ul { list-style-type: square; }

#sidebar {
    background-color: var(--favorite-color);
    width: 12em;
    padding: 20px;
	order: 1;
    font-size: smaller;
	border-radius: 10px;
}

#flex {
    display: flex;
    max-width: 950px;
    margin: auto;
}

main {
    background-color: var(--bg-color);
	flex: 1;
    padding: 1.4em;
	order: 2;
	word-wrap: break-word;
	border-radius: 10px;
}

/* main > h1,
main > h2,
main > h3  */

h1,
h2,
h3{
	color: #c77979;
    border-bottom: 2px dashed var(--accent-color);
    text-shadow: 1px 1px 0 black;
}

h1 {
    font-size: 25px;
}

/* made this a class so i can change it to be centered on mobile */
.img-right { float: right; }

/* this is just a cool box, it's the darker colored one */
.box {
	background: var(--darker-color);
    /*background-color: ;*/
    border: 1px solid #ED64F5;
    padding: 10px;
	max-height: 30em;
	overflow: auto;
}

/* For Game Banners */
.banner {
	float: left;
	width: 400px;
	padding: 0px;
}
.bannerR {
	float: right;
	width: calc(100% - 405px);
	padding: 0px;
	border: 1px solid #ED64F5;
	background: var(--darker-color);
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

footer {
    background-color: var(--favorite-color);
    text-align: center;
    font-size: small;
    padding: 1em;
}

/* these are the mobile styles! */
@media only screen and (max-width: 950px) {
	#flex {
		flex-wrap: wrap;
    }
	main {
		order: 1;
		width:100%;
		padding: 0;
	}
	main h1, h2, h3, p, img {
		padding-left: 0.5em;
	}
    #sidebar {
		order: 2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
    }
	main, #sidebar {border-radius: 0;}
    #sidebar ul {   
        margin: 0 1em;
        display: flex;
        flex-wrap: wrap;
        line-height: 2em;
    }
    #sidebar li {
        padding-left: 0;
        margin: .3em 1em;
    }
    .img-right {
        float: none;
        text-align: center;
    }
}
@media only screen and (max-width: 750px) {
	.banner {
		width: 100%;
	}
	.bannerR {
		width: 100%;
		margin: auto;
		border-style: solid none solid none;
	}
}
@media only screen and (max-width: 400px) {
	.banner img {
		width: 95%;
	}
}